/* ----------------Header Styling---------------- */

/* menu toggle burger bar */
%bar-style {
  width: 28px;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.bar1,
.bar3 {
  @extend %bar-style;
}
.bar2 {
  @extend %bar-style;
  width: 18px;
}

.navbar-toggler {
  padding: initial !important;
}

.header .navbar {
  background: $blue;
  padding: 7px 10px;
  flex-wrap: nowrap;
  &__bar {
    margin-right: 20px;
  }
  &__logo img {
    width: 130px;
    height: 48px;
    object-fit: contain;
  }
  &__bind {
    margin-left: 10px;
  }
  &__form {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background: url("https://static.priceoye.pk/images/mic.png");
      width: 100%;
      height: 23px;
      max-width: 18px;
      background-repeat: no-repeat;
      background-size: contain;
      right: 0;
      left: 24em;
      margin: auto;
    }
  }
  &__search {
    width: 100%;
    max-width: 418px;
    height: 52px;
  }
}
