// font varaibles
$font-stack: "Open Sans", sans-serif;
// color variables
$white: #ffffff;
$medium: #606060;
$dark: #202020;
$light: #909090;
$blue: #48afff;
$bright: #404040;
$grey: #748a98;
$grey-light: rgba(116, 138, 152, 0.05);
$dull-white: #bababa;
$default: #f1f3f6;
$orange: #f08019;
$border: #dbdbdb;
$black-back: #27262b;
$tb-dark: #808080;
$yellow: #deb100;
$green: #29d72b;
$violet: #b839ef;
$red: #f53d3d;
$border-light: #cecece;
$btn-bg: #f4f4f4;
$table-dark: #3c3b41;
$border-dark: #84838d;
$border-lg: #dbdbdb;
$msg: #f9f9f9;
$bot: #d6d6d6;
$area: #d1d1d1;
$copy: #aedcff;
$dark-blue: #3eabff;
$gradient: linear-gradient(180deg, #27262b 50%, #f1f3f6 0);
$gradient-invert: linear-gradient(180deg, #f1f3f6 50%, #27262b 0);
$lime-dark: #288519;
$lime-light: #e0ffc1;
$dark-green: #0ee199;
$tab-border: #e2e2e2;
// screensizes
$wide: 1200px;
$computer: 992px;
$tablet: 762px;
$mobile: 576px;
